body { font-size:100%; font-family: Verdana, Arial, sans-serif; color:#333; background: #ebebeb }
button { margin:0;}
form { margin-top: 10px; }
input[type="text"], select { float:right; width:115px; }
label { display: block; margin-bottom: 5px; font-size:12px; line-height:23px; }
ul { margin:0; padding:0 0 0 10px; }
p { margin: 0 0 10px 0;}
div { margin:0 0 10px 0; }
#wrap { margin:20px; }
#grid { margin:0 20px 20px 0; border:1px solid black; overflow: hidden; display: block; float: left; background: #fff; }
#controls {float: left; width:27% } 
#desc, #readout { font-size: 12px; line-height: 14px; padding: 7px 10px; border: 2px solid; background: #fff; }
#desc { border-color: #ddd; }
#readout { border-color: #9999dd; }
#btns { list-style:none; margin:0;padding:0;}
#btns li { padding:5px; background:#fff; margin:0 0 5px 0;}
.cell { float: left; }
.alive { background: #000; }
.dead { background: #fff; }


.demo-container {
	float:left;
	clear:both;
	box-sizing: border-box;
	width: 450px;
	height: 250px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.legend table {
	border-spacing: 5px;
}